<div class="principal">
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya haasss sido registrado?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-recuperar">
                    <h3>¿ Olvidaste tu contraseña ?</h3>
                    <p>Te ayudamos a recuperarla</p>
                    <button id="btn__recuperar">Recuperar contraseña</button>
                </div>
            </div>

            <!--Formulario de Login y registro-->
            <div class="contenedor__login-recuperar">
                <!--Login-->
                <!-- <form method="POST" class="formulario__login" id="formulario__login" onsubmit="return false"> -->

                <form class="formulario__login" id="formulario__login" [formGroup]="formLogin">
                    <img src="assets/images/logo-empresa.png" alt="logo-empresa" class="logo-empresa">
                    <h2>Iniciar Sesión</h2>
                    <div class="form-floating mb-3">
                        <input type="email" formControlName="email" class="form-control mb-4" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" style="font-size: 14px;" class="mb-3"> <i class="bi bi-envelope-fill"></i>
                            &nbsp;Ingrese su correo</label>
                        <!-- <p class="mt-2 d-none" id="pOcultoValidacion"
                            style="color: rgb(236, 35, 35); font-size: 14.5px;">Tu
                            correo electrónico debe ser: name@example.com</p> -->
                    </div>
                    
                    <div class="form-floating position-relative">
                        <input id="campo-password-valitaion" formControlName="password" type="password" class="form-control"
                            placeholder="Password">
                        <label for="floatingPassword" style="font-size: 14px;"><i class="bi bi-lock-fill"></i>
                            &nbsp;Ingrese
                            su contraseña</label>
                        <div class="position-absolute top-50 end-0 translate-middle-y">
                            <button onclick="functionVisibilidadPassword()" type="button"
                                class="configuracion-boton-icon"><i id="icono-eye"
                                    class="bi bi-eye-slash-fill"></i></button>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        Elija su rol
                        <div class="mx-3">
                            <select name="rolUsuario" id="rolUsuario" class="w-100">
                                <option value="Administrador">Administrador</option>
                                <option value="Recursos Humanos">Recursos Humanos</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-red-600 text-sm mt-3 text-center font-bold" *ngIf="mensajeError">
                        Correo o contraseña no válido
                    </div>

                    <button (click)="onClickLogin()">Entrar</button>
                    <!-- <div class="error"></div> -->

                    
                </form>

                <!--Register-->
                <form action="" class="formulario__recuperar">
                    <img src="assets/images/logo-empresa.png" alt="logo-empresa" class="logo-empresa">
                    <h2>Recuperar contraseña</h2>
                    <div class="form-floating mb-1">
                        <input type="email" class="form-control inputRecuperar" id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput" style="font-size: 14px;"> <i class="bi bi-envelope-fill"></i>
                            &nbsp;Ingrese su correo</label>
                        <p class="mt-2 d-none" id="pOcultoValidacion"
                            style="color: rgb(236, 35, 35); font-size: 14.5px;">Tu
                            correo electrónico debe ser: name@example.com</p>
                    </div>
                    <button onclick="Reset();">Enviar Email</button>
                    <div class="errorRecuperar"></div>
                </form>
            </div>
        </div>

    </main>
</div>